.App {
  width: 100%;
  display: flex;
  flex-direction: column;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #F1EFEA;
  font-family: 'Montserrat', sans-serif; /* Используем Montserrat */
}
#root {
  display: flex;
  justify-content: center;
  
}

.main_page {
  background-color: #4856DC;
  width: 100%;
  height: 100vh;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
  background-color: #4856DC;
}

.lines {
  background-color: #4856DC;
}

.oglavlenie {
  background-color: #4856DC;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about_us {
  background-color: #EBECFC;
  width: 100%;
  height: 700px;
  display: flex;
  flex-direction: column;
}
.DOLZHENKO {
  display: flex;
  background-color: #EBECFC;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
  gap: 100px;
}

.background {
  background-color: #4856DC;
  width: 100%;
  height: 1500px;
  margin: 0; /* Избегаем отступов по умолчанию у body */
  display: flex;
  gap: 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.report-grid {
  display: flex;
  background-color: #4856DC;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  width: 50%;
 
  gap: 30px;
}
.modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000; /* Значение z-index может быть любым, в зависимости от вашей конкретной ситуации */
}

.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон */
  z-index: 999; /* Выше, чем модальное окно */
}