body {
  width: 100%;
  margin: 0px;
  padding: 0px;
}
.App {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 10px;
}
@media (max-width: 767px) {
  .App {
    font-size: 7px; /* Уменьшенный размер шрифта для меньших экранов */
  }
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #F1EFEA;
  font-family: 'Montserrat', sans-serif; /* Используем Montserrat */
  font-size: 10px;
}
@media (max-width: 767px) {
  * {
    font-size: 7px; /* Уменьшенный размер шрифта для меньших экранов */
  }
}
#root {
  display: flex;
  justify-content: center;
  
}

.main_page {
  background-color: #4856DC;
  width: 100%;
  height: 100vh;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100vh;
  
  background-color: #4856DC;
}

.lines {
  background-color: #4856DC;
  height: 100vh;
}
@media (max-width: 767px) {
  .lines {
    display: none;
  }
}

.oglavlenie {
  background-color: #4856DC;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 767px) {
  .oglavlenie {
    background-color: #4856DC;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 2em;
    margin-top: 2em;
  }
}
.about_us {
  background-color: #EBECFC;
  width: 100%;
  height: 700px;
  display: flex;
  flex-direction: column;
}
@media (max-width: 767px) {
  .about_us  {
    background-color: #EBECFC;
    width: 100%;
    height: 1000px;
    display: flex;
    flex-direction: column;
  }
}

.DOLZHENKO {
  display: flex;
  background-color: #EBECFC;
  flex-direction: row;
  justify-content: center;

  align-items: center;
  margin-top: 50px;

}
@media (max-width: 767px) {
  .DOLZHENKO {
    display: flex;
  background-color: #EBECFC;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
  gap: 5em;
  align-items: center;
  }}

.background {
  background-color: #4856DC;
  width: 100%;
  margin: 0; /* Избегаем отступов по умолчанию у body */
  display: flex;
  gap: 8em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: height 0.3s ease;
  height: 40em;
}
@media (max-width: 767px) {
  .background {
    background-color: #4856DC;
  width: 100%;
  margin: 0; /* Избегаем отступов по умолчанию у body */
  display: flex;
  gap: 8em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: height 0.3s ease;
  height: 80em;
  }}

.sam_otchet {
  background-color: #4856DC;
  width: 100%;
  margin: 0; /* Избегаем отступов по умолчанию у body */
  display: flex;
  justify-content: center;
  height: 100em;
}
.qwe {
  background-color: #4856DC;
}
@media (max-width: 767px) {
  .sam_otchet {
    background-color: #4856DC;
  width: 100%;
  margin: 0; /* Избегаем отступов по умолчанию у body */
  display: flex;
  justify-content: center;
  height: 50em;
  }}

.report-grid {
  display: flex;
  background-color: #4856DC;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
 
  gap: 3em;
}
.modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000; /* Значение z-index может быть любым, в зависимости от вашей конкретной ситуации */
}

.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон */
  z-index: 999; /* Выше, чем модальное окно */
}

.footer {
  background-color: #EBECFC;
  height: 410px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10%;
}
@media (max-width: 767px) {
  .footer {
    background-color: #EBECFC;
    height: 410px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
  }}
.text_footer {
  background-color: #EBECFC;
  display: flex;
  flex-direction: column;
}

.icon {
  background-color: #EBECFC;
  display: flex;
  flex-direction: row;
  gap: 50px;
}
.reported {
  width: 1500px;
  height: 800px;
}
@media (max-width: 767px) {
  .reported {
    width: 350px;
    height: 300px;
  }}

  .reports {

    display: flex;
    flex-direction: row;
    background-color: #4856DC;
    flex-wrap: wrap;
  }
  @media (max-width: 767px) {
    .reports {
      width: 50em;
      background-color: #4856DC;
      display: flex;
      flex-direction: column;
      gap: 5em;
    }}

.NameCategory {
  background-color: #4856DC;
  width: 60em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3em;
}
@media (max-width: 767px) {
  .NameCategory {
    background-color: #4856DC;
    width: 50em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
  }}
  
  .Category {
    background-color: #4856DC;
    display: flex;
    flex-direction: row; /* Изменили на row */
    gap: 3em;
  }
  
  @media (max-width: 767px) {
    .Category {
      background-color: #4856DC;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1em;
    }
  }
.textic {
  background-color: #EBECFC;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100em;
  gap: 3em;
}
@media (max-width: 767px) {
  .textic {
    background-color: #EBECFC;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50em;
    gap: 3em;
  }}
  .report_button {
    width: 15em;
    height: 7em;
    border-radius: 30px;
    background-color:#EBECFC ;
    font-size: 1.4em;
    border: none;
  }
  @media (max-width: 767px) {
    .report_button {
      width: 13em;
      height: 7em;
      border-radius: 30px;
      background-color:#EBECFC ;
      white-space: normal;
      font-size: 1.4em;
    }}
  
.form-container {
    background-color: #EBECFC;
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40em;
    height: 60em;
    padding: 2em;
    margin: 0 auto;
    border-radius: 30px;
    z-index: 1000;
}
@media (max-width: 767px) {
  .form-container {
    height: 80em;
  }}

.buttons {
  background-color: #EBECFC;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 4em;
}
.but_otchet {
  width: 18em;
  height: 4em;
  font-size: medium;
  background-color: #EBECFC;
  border-radius: 20px;
  border: none;
  margin-bottom: 2em;
}
.viz_report {
  display: flex;
  flex-direction: column;
  gap: 2em;
  background-color: #4856DC;
}
.report_name {
  display: flex;
  justify-content: center;
  background-color: #4856DC;
  color: #EBECFC;
  font-size: 3em;
}
.icon_on_main {
  background-color: #4856DC;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
  align-self: flex-start;
  margin-top: 0;
  margin-bottom: 2em;
}